# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.PLCSimulation.iml
# Datasource local storage ignored files
/../../../../../../../:\XXYwork\riderTest\PLCSimulation\.idea\.idea.PLCSimulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
